/* ==|====================
   Layout/Constrained
   ======================= */

.l-constrained {
}
/******************************
 SLIDE 1 
*******************************/
#slide1{
  background-color:$slide1;
  
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
  background-color:$slide2;
  
}
/******************************
 SLIDE 3 
*******************************/
#slide3{
  background-color:$slide3;
}
/******************************
 SLIDE 4 
*******************************/

#slide4{
  background-color:$slide4;
}
#slide4 .parallaxbg{
  position:absolute;
  right:40px;
  top:40px;
  font-size:28px;
  color:rgba(51,51,51,0.3);
}